[submodule "third-party/msgpack-c"]
	path = third-party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "third-party/websocketpp"]
	path = third-party/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "third-party/json-msgpack"]
	path = third-party/json-msgpack
	url = https://github.com/tplgy/json-msgpack.git
